<div class="ClientDropDown ClientPanel">
    <table class="ClientDropDownTable">
        <tr>
            <th class="ChangeableStatus">
                <div class="StatusDropdown">
                    <div class="dropdown">
                    <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="false" aria-expanded="false">%status%</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <a class="dropdown-item" id="dropdownBlocked" href="#">Заблокирован</a>
                        <a class="dropdown-item" id="dropdownBought" href="#">Куплен</a>
                        <a class="dropdown-item" id="dropdownReturned" href="#">Возвращен</a>
                    </div>
                        </div>
                </div>
            </th>
            <th class="ChangeableName">%name%</th>
            <th class="ChangeableAmount">%value%</th>
            <th class="ChangeableDate">%date%</th>
        </tr>
    </table>
</div>
