@*
    
*@
<div class="Client">
    <div class="ClientPanel">
        <table class="ClientTable">
            <tr>
                <td>ФИО</td>
                <th class="ChangeableName">%name%</th>
                <td>Тел.</td>
                <th class="ChangeablePhone">%phone%</th>
                <td>ДР</td>
                <th class="ChangeableDate">%birdate%</th>
            </tr>
            <tr>
                <td></td>
                <th><button type="button" class="ShowHideDropDownButton" id="hidden">Заказы...</button></td>
                <td>e-mail</td>
                <th class="ChangeableEmail">%email%</td>
                <td>Рег.</td>
                <th class="">%regdate%</th>
            </tr>
        </table>
    </div>
    @{
        for (int i = 0; i < 2; i++)
        {
            Html.RenderPartial("_ClientDropDown");
        }
    }
</div>
