@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Клиенты</h1>
    <input type="checkbox" id="makevalidSwitch" name="name" value="" checked /> Пробовать делать суммы заказов валидными
    <button type="button" class="showInreversibleOptions" id="hidden">Вкл. опасные функции</button>
</div>

@model System.Xml.XmlElement

@{

    foreach (System.Xml.XmlElement xnode in Model)
    {
        if (xnode.Name == "Customers")
        {
            foreach (System.Xml.XmlElement xnode2 in xnode)
            {
                Html.RenderPartial("_CustomerBlockV2", xnode2);

            }
        }
    }
    /*for (int i = 0; i < 5; i++)
    {
        Html.RenderPartial("_CustomerBlock", Model);
    }*/
}
