@{
    ViewData["Title"] = "Test";
}

<div class="text-center">
    <h1 class="display-4">Клиенты</h1>
</div>

@model System.Xml.XmlElement

@{
    foreach (System.Xml.XmlElement xnode in Model)
    {
        Html.RenderPartial("_CustomerBlock", xnode);
    }
    /*for (int i = 0; i < 5; i++)
    {
        Html.RenderPartial("_CustomerBlock", Model);
    }*/
}
