@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Just a homepage</p>
    <p>definitely nothing to see here</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Fancy thing 1</h2>
        <p>
            Lets put some text over here
        </p>
    </div>
    <div class="col-md-4">
        <h2>Fancy thing 2</h2>
        <p>And here, just in case</p>
    </div>
    <div class="col-md-4">
        <h2>Fancy thing 3</h2>
        <p>Lorem ipsum and all that stuff, you know</p>
    </div>
</div>